.friend-popover-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    &:hover {
      background-color: #f3f5f6;
    }
  }
}
