.login-container {
  position: relative;
  z-index: 1;
  padding: 50px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-height: 100vh;

  background-image: url('/images/bglogin.png');
  .title {
    font-size: calc(16px + 3vw);
    color: #0068ff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  h2 {
    text-align: center;
    color: #333;
    font-weight: 520;
  }
}

.svg-login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // direction: ltr;
  background-color: #e0e0e0;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .login-container {
    padding-top: 20px;
    // gap: 10px;
  }
}
