.status-user-container {
  max-width: 500px;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  .avatar-container span {
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: #333;
    .username {
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .connected-time {
      font-size: calc(5px + 0.6vw);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      &:hover {
        cursor: pointer;
        color: #0f0e0e;
        font-weight: 600;
      }
    }
  }
}
