.infor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px 10%;
    height: 100%;
    background-image: url('../../public/images/bglogin.png');
    .form-item-header {
        margin-top: 10%;
        align-items: center;
        .avt-image {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }
    .form-item {
        margin-top: 10% ;
    }
}