.chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    color: #ffffff;
    z-index: 2;
    header {
        width: 100%;
        max-height: 65px;
        height: 65px;
        border-bottom: 1px solid #e0e0e0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(0px + 2vw);
        padding: 0px 20px;
        background-color: transparent;
        ul {
            background-color: transparent;
            li {
                i {
                    color: #ffffff;
                }
                svg {
                    color: #ffffff;
                }
            }
        }
        h3 {
            width: 100%;
            text-align: center;
        }
    }
    .left {
        flex: 5;
        header {
            color: #ffffff;
            border-right: 1px solid rgba(0, 0, 0, 0.05);
        }
        .friend-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 2;
        }
        .tools {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;

            .menu-header {
                width: 100%;
                margin-right: 0;
                justify-content: flex-end;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    padding: 0 !important;
                    &::after {
                        left: 10px;
                    }
                    .box-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px !important;
                        margin: auto;
                        .icon {
                            font-size: calc(6px + 1vw);
                            // color: rgb(33, 29, 29);
                            color: #ffffff;
                            cursor: pointer;
                            font-weight: 600;
                        }
                        &:hover {
                            background-color: #dfe2e7;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .main-chat-content {
            background-color: rgba(0, 0, 0, 0.05);
            position: relative;
            max-height: calc(100% - 65px);
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;

            .content-chat-messages {
                display: flex;
                flex-direction: column;
                padding: 20px 10px;
                gap: 8px;
                overflow-y: auto;
                overflow-x: hidden;
                .message-status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: grey;
                    padding: 1px 5px;
                    border-radius: 10px;
                }
                .message {
                    // background-color: #e5efff;
                    border-radius: 5px;
                    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
                    max-width: 60%;
                    word-wrap: break-word;
                    white-space: pre-wrap; /* Đảm bảo dòng mới được hiển thị */
                    color: #333;
                    box-shadow: -1px 1px 1px 1px #00000040;

                    .sticker {
                        width: 150px;
                        height: 150px;
                    }
                    .name {
                        font-weight: 590;
                        color: #888;
                        padding: 5px 10px 0;
                        font-size: 12px;
                    }
                }
                .de-bg {
                    background-color: transparent;
                    box-shadow: none;
                }
                .group-message {
                    display: inline-flex;
                    width: auto;
                    align-items: center;
                    .avatar {
                        max-width: calc(40px + 1vw);
                        width: 100%;
                    }
                }
            }
            .footer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                min-height: 90px;
                height: min-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                color: #333;
            }
            .footer-item {
                border-right: 1px solid rgba(0, 0, 0, 0.05);
                background-color: #ffffff;
                .emoij-like {
                    padding-bottom: 5px !important;
                }
                &:first-child {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                }
                .item-icon {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2px;
                    cursor: pointer;
                    border-radius: 2px;
                    i {
                        font-size: 20px;
                    }
                    img {
                        width: 70%;
                        height: 70%;
                    }
                    &:hover {
                        background-color: #dfe2e7;
                    }
                }
                .input-text {
                    outline: none;
                    border: none;
                    width: 80%;
                    resize: none;
                    font-size: 15px;
                }
            }
            .footer-top {
                display: flex;
                align-items: center;
                padding: 5px 15px;
                gap: 25px;
            }
            .footer-bottom {
                display: flex;
                align-items: center;
                flex: 1;
                padding: 5px 10px;
                .like {
                    color: #f7c864;
                    font-size: 25px;
                }
                .text-quick-group {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex: 1;
                    padding-right: 18px;
                    height: 100%;
                    gap: 20px;
                }
            }
            .emoij-container {
                position: absolute;
                bottom: 150px;
                right: 0;
            }
        }
    }
    .right {
        flex: 2;
        height: 100%;
        .title {
            font-size: calc(12px + 0.3vw);
        }
        .right-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            .item-avatar {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                .name {
                    font-size: calc(14px + 0.3vw);
                    font-weight: 640;
                    .edit {
                        cursor: pointer;
                    }
                }
            }
            .item-change-bg {
                margin-top: 10px;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                span {
                    width: 90%;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
    .sending {
        position: absolute;
        bottom: 120px;
        left: 10;
    }
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-image: url("https://i0.wp.com/thatnhucuocsong.com.vn/wp-content/uploads/2022/02/hinh-nen-vu-tru-4k-cho-may-tinh.jpg?fit\\\\u003d780%2C439\\\\u0026ssl\\\\u003d1");
    background-image: url("https://giaydantuong.edu.vn/wp-content/uploads/2023/05/hinh-anh-trai-tim-doi-dep-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.ant-menu-submenu {
    .box-icon {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 998px) {
    .chat-container .friend-info {
        flex: 5 !important;
        width: 100%;
    }
    .chat-container .tools {
        flex: 2 !important;
        width: 40%;
    }
}

@media screen and (max-width: 490px) {
    .chat-container .right {
        display: none;
    }
    .info-button {
        display: none !important;
    }
}
