:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #333;
}
.chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    color: #ffffff;
    z-index: 2;

    header {
        width: 100%;
        max-height: 65px;
        height: 65px;
        border-bottom: 1px solid #e0e0e0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(0px + 2vw);
        padding: 0px 20px;
        background-color: transparent;
        ul {
            background-color: transparent;
            li {
                i {
                    // color: #ffffff;
                }
                svg {
                    // color: #ffffff;
                }
            }
        }
        h3 {
            width: 100%;
            text-align: center;
        }
    }
    .left {
        flex: 5;
        header {
            // color: #ffffff;
            border-right: 1px solid rgba(0, 0, 0, 0.05);
        }
        .friend-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 2;
        }
        .tools {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;

            .menu-header {
                width: 100%;
                margin-right: 0;
                justify-content: flex-end;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    padding: 0 !important;
                    &::after {
                        left: 10px;
                    }
                    .box-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px !important;
                        margin: auto;
                        .icon {
                            font-size: calc(6px + 1vw);
                            // color: rgb(33, 29, 29);
                            // color: #ffffff;
                            cursor: pointer;
                            font-weight: 600;
                        }
                        &:hover {
                            background-color: #dfe2e7;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .main-chat-content {
            background-color: rgba(0, 0, 0, 0.05);
            position: relative;
            max-height: calc(100% - 65px);
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;

            .content-chat-messages {
                display: flex;
                flex-direction: column;
                padding: 20px 10px;
                gap: 8px;
                overflow-y: auto;
                overflow-x: hidden;
                i {
                    font-size: 12px;
                }
                .message-status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #b5b0a1;
                    padding: 1px 5px;
                    border-radius: 15px;
                    font-size: 13px;
                }
                .message {
                    border-radius: 5px;
                    max-width: 60%;
                    word-wrap: break-word;
                    white-space: pre-wrap; /* Đảm bảo dòng mới được hiển thị */
                    box-shadow: -0.8px 0.8px 0.5px 0.5px #e2d7d7;
                    .sticker {
                        width: 150px;
                        height: 150px;
                    }
                    .name {
                        font-weight: 590;
                        color: #0c0c0c;
                        padding: 5px 10px 0;
                        font-size: 12px;
                    }
                }
                .de-bg {
                    background-color: transparent;
                    // box-shadow: none;
                }
                .group-message {
                    display: inline-flex;
                    width: auto;
                    align-items: center;
                    .avatar {
                        max-width: calc(40px + 1vw);
                        width: 100%;
                    }
                }
            }
            .footer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                min-height: 90px;
                height: min-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                color: #333;
            }
            .footer-item {
                border-right: 1px solid rgba(0, 0, 0, 0.05);
                background-color: #ffffff;
                .emoij-like {
                    padding-bottom: 5px !important;
                }
                &:first-child {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                }
                .item-icon {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2px;
                    cursor: pointer;
                    border-radius: 2px;
                    i {
                        font-size: 20px;
                    }
                    img {
                        width: 70%;
                        height: 70%;
                    }
                    &:hover {
                        background-color: #dfe2e7;
                    }
                }
                .input-text {
                    outline: none;
                    border: none;
                    width: 80%;
                    resize: none;
                    font-size: 15px;
                }
            }
            .footer-top {
                display: flex;
                align-items: center;
                padding: 5px 15px;
                gap: 25px;
            }
            .footer-bottom {
                display: flex;
                align-items: center;
                flex: 1;
                padding: 5px 10px;
                .like {
                    color: #f7c864;
                    font-size: 25px;
                }
                .text-quick-group {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex: 1;
                    padding-right: 18px;
                    height: 100%;
                    gap: 20px;
                }
            }
            .emoij-container {
                position: absolute;
                bottom: 150px;
                right: 0;
            }
        }
    }
    .right {
        flex: 2;
        height: 100%;
        background-color: white;
        

        .title {
            font-size: calc(12px + 0.3vw);
            color: #333;
        }
        .right-body {
            border-width: 5;
            border-color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            .item-avatar {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                .name {
                    font-size: calc(14px + 0.3vw);
                    font-weight: 640;
                    color: #0c0c0c;
                    .edit {
                        cursor: pointer;
                    }
                }
                
            }
            .item-change-bg {
                margin-top: 10px;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                span {
                    width: 90%;
                    button {
                        width: 100%;
                    }
                }
            }
            .hyphen {
                width: 100%;
                height: 1vh;
                background-color: #eee9e9;
                margin-top: 3vh;
            }
            .options-list {
                margin-top: 3vh;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 10vh;
                background-color: white;
                .button-wrapper {
                    display: flex;
                    height: 12vh;
                    .button {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        width: 100%;
                        height: 10vh;
                        //margin-left: 2%;
                        border-radius: 30%;
                        border-color: white;
                    }
                    .button img {
                        width: 40%;
                        height: 3.5vh;
                    }
                    .button span {
                        margin-top: 1vh;
                        text-align: center;
                        color:#615f5f
                    }
                }
            }
            .info-list {
                width: 100%;
                height: 13vh;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 2vh;

                .remind{
                    width: 100%;
                    height: 5vh;
                    display: flex; 
                    justify-content: flex-start; 
                    align-items: center; 
                    border-color: white;
                    img {
                        width: 8%;
                        height: 3.5vh;
                    }
                    span {
                        margin-top: 1vh;
                        text-align: left;
                        color:#615f5f;
                        margin-left: 6%;
                    }
                }
                .common-group{
                    width: 100%;
                    height: 5vh;
                    display: flex; 
                    justify-content: flex-start; 
                    align-items: center; 
                    border-color: white;
                    img {
                        width: 8%;
                        height: 3.5vh;
                    }
                    span {
                        margin-top: 1vh;
                        text-align: left;
                        color:#615f5f;
                        margin-left: 6%;
                    }
                }
            }
        }
    }
    .sending {
        position: absolute;
        bottom: 90px;
        display: flex !important;
        align-items: center;
        background-color: #ffffff;
        left: 0;
        padding: 0px 5px;
        border: 1px solid #e0e0e0;
        .sending-loading {
            width: 30px !important;
            height: 25px !important;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .message-status {
            height: 20px;
            font-size: 10px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.ant-menu-submenu {
    .box-icon {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 998px) {
    .chat-container .friend-info {
        flex: 5 !important;
        width: 100%;
    }
    .chat-container .tools {
        flex: 2 !important;
        width: 40%;
    }
}

@media screen and (max-width: 490px) {
    .chat-container .right {
        display: none;
    }
    .info-button {
        display: none !important;
    }
}
