.message-hover-container {
  position: relative;
  display: block;
  padding-bottom: 10px;
  audio {
    max-width: 500px;
    min-width: 250px;
    width: 100%;
    height: 40px;
    padding: 0px 5px;
    &::-webkit-media-controls-play-button,
    &::-webkit-media-controls-panel {
      background-color: #b9b9b9;
    }
  }
  video {
    position: relative;
    max-width: 500px;
    min-width: 250px;
    width: 100%;
    height: 100%;
    max-height: 400px;
    padding: 0px 5px;
    z-index: 1;
  }
  &.w-500 {
    max-width: 450px;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
  }
  .message-content-right {
    font-size: 15px;
    text-align: right;
  }
  .message-content-left {
    font-size: 15px;
    text-align: left;
  }
  .image-message {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin: 2px;
  }
  .time {
    font-size: 10px;
    width: 100%;
    color: #333;
  }
  &.option-right {
    [aria-owns] {
      min-width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      [data-rmiz-content] {
        width: 100%;
      }
    }
    & .options {
      right: -100px;
      padding-left: 10px;

      .options-content {
        right: -10px;
      }
    }
  }
  &.option-left {
    [aria-owns] {
      min-width: 200px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
    }
    & .options {
      left: -100px;
      padding-right: 10px;
      .options-content {
        right: 10px;
      }
    }
  }
  & .options {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    width: 100px;
    height: 50px;
    z-index: 4;
    display: none;

    .options-content {
      position: absolute;
      bottom: 0;
      background-color: #f6f5ef;
      width: 80%;
      height: 50%;
      border-radius: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .option-item {
        cursor: pointer;
        color: #888;
      }
    }
    &.show-options {
      display: block;
    }
  }
  .reactions {
    position: absolute;
    bottom: -12px;
    right: 25px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    padding: 5px 5px;
    box-shadow: 1px 1px 2px 2px #00000040;
    z-index: 2;
    .reaction-item {
      cursor: pointer;
      font-size: 10px;
    }
  }
  .frame-tym {
    display: none;
    position: absolute;
    width: 300px;
    height: 30%;
    bottom: 0;
    right: -140px;
    &.show-frame-tym {
      display: block;
    }
    .tym-message {
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      bottom: 0px;
      right: 50%;
      transform: translate(50%, 50%);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 1px 1px #00000040;
      cursor: pointer;
      background-color: #ffffff;
      z-index: 5;
      .reaction-icon {
        font-size: 16px;
      }
    }
  }
}

.group-message-hover-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  padding-bottom: 0;
  .message-reply {
    align-self: flex-end;
    width: 100%;
    background-color: #c7e0ff;
    padding: 10px;
    border-left: 3px solid #3989ff;
    cursor: pointer;
    .reply-name {
      font-size: 11px;
      font-weight: 660;
    }
    .message-reply-content {
      font-size: 12px;
    }
    .sticker-reply {
      width: 50px;
      height: 50px;
      display: block;
      margin: 0 auto;
    }
    video {
      width: 300px;
      height: 200px;
      padding: 0px 5px;
    }
  }
  .message-hover-container {
    padding-top: 0px;
  }
}

.subOption {
  max-width: 200px;
  width: calc(100px + 20vw);
  padding: 10px;
  .option-sub-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    cursor: pointer;
    .item-popover-message {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 2px 0;
    }
    &:first-child {
      border-bottom: 1px solid grey;
      padding-bottom: 10px;
    }
    p {
      font-size: 14px;
    }
    &:last-child {
      border-top: 1px solid grey;
      padding-top: 10px;
    }
  }

  &.show-sub-option {
    display: block;
  }
}

.ant-popover-inner {
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .message-hover-container {
    // width: 300px !important;
    .image-message {
      width: 200px;
      height: 200px;
    }
  }
}

@media screen and (max-width: 790px) {
  .message-hover-container {
    [aria-owns] {
      width: 180px !important;
      min-width: 180px !important;
    }
    audio {
      min-width: 200px !important;
    }
    video {
      max-width: 100%;
      min-width: 150px;
      width: 100%;
      height: 200px;
      padding: 0px 5px;
    }
  }
}
