.background-container {
  .background-body {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    .background-item {
      cursor: pointer;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      img {
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
      }
      i {
        font-size: 60px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #888;
      }
    }
    .selected {
      // border: 2px solid blue;
      position: relative;
      box-shadow: -2px 2px 5px 0px #888;
      &::after {
        content: '✓';
        position: absolute;
        bottom: -5px;
        right: -5px;
        background-color: yellowgreen;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 690;
      }
    }
  }
}
