.group-photo-main {
  margin-top: 15px;
  .upload-groupPhoto {
    label {
      display: flex;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e5efff;
      padding: 10px;
      gap: 15px;
      cursor: pointer;
      span {
        color: #005ae0;
        font-weight: 700;
        font-size: 16px;
      }
      svg {
        width: 30px;
        height: 30px;
      }
      &:hover {
        background-color: #c7e0ff;
      }
    }
  }

  .group-collection {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin-top: 15px;
    .collection-item {
      width: 80px;
      height: 80px;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}

.image-preview {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
  border: 1px solid #005ae0;
}
