.disband-content {
  padding: 10px;
  margin: 10px 0;
  .disband-main {
    margin-top: 15px;
    .group-radio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      .group-radio-item {
        display: flex;
        gap: 10px;
        align-items: center;
        color: #333;
        font-weight: 600;
      }
    }
  }
}
