.group-chat-modal {
  .group-chat-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    .element-modal-groupPhoto {
      border-radius: 50%;
      border: 1px solid #ccc;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      i {
        font-size: 20px;
        color: #7589a3;
      }
      .groupPhoto {
        object-fit: cover;
        border-radius: 50%;
        width: 110%;
        height: 100%;
      }
    }
    .element-input {
      flex: 1;
      input {
        border: none;
        outline: none;
        height: 40px;
        &:focus {
          box-shadow: none;
          outline: none;
          border-bottom: 1.2px solid #3989ff;
        }
      }
    }
  }
  .group-chat-search-main {
    margin-bottom: 12px;
    span {
      border-radius: 20px;
      padding: 5px 5px;
      height: 30px;
      input {
        padding: 2px 10px;
      }
    }
  }

  .list-friends-main {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    .main-left {
      flex: 1;
      max-height: 400px;
      overflow-y: scroll;
      .item-friend {
        margin: 10px 0;
        .username {
          margin-left: 10px;
        }
      }
    }
    .main-right {
      max-width: 300px;
      min-width: 200px;
      .ant-drawer-content-wrapper {
        width: 100% !important;
        .ant-drawer-title {
          font-size: 13px;
          .main-title {
            display: flex;
            align-items: center;
            gap: 2px;
          }
        }
      }
      .ant-drawer-header {
        padding: 5px 10px;
      }
      .ant-drawer-body {
        padding: 10px;
      }
      .dachon {
        background-color: #e5efff;
        padding: 3px;
        border-radius: 5px;
        color: #005ae0;
      }
      .delele-all {
        display: inline-block;
        font-size: 12px;
        text-align: right;
        flex: 1;
        cursor: pointer;
      }
      .list-dachon {
        gap: 10px;
        display: flex;
        flex-direction: column;
        height: 300px;
        .item-dachon {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 5px 10px;
          border-radius: 30px;
          background-color: #e5efff;
          color: #005ae0;
          gap: 5px;
          .action {
            flex: 1;
            text-align: right;
            cursor: pointer;
            i {
              background-color: #005ae0;
              border-radius: 50%;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
