.view-settings {
  display: block;
  width: 100%;
  cursor: pointer;
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      text-align: left;
      font-size: 0.8rem;
      font-weight: 600;
      color: black;
      margin-left: 5%;
    }

    .button {
      background-color: transparent;
      border: none;
      color: black;
      font-size: 0.8rem;
      font-weight: 600;
      cursor: pointer;
      margin-right: 5%;
    }
  }
  .setting-body {
    .info-list {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      height: 40px;
      .remind {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-color: white;
        img {
          height: 25px;
          width: 25px;
        }
        span {
          margin-top: 1vh;
          text-align: left;
          color: #615f5f;
          margin-left: 6%;
        }
      }
      .common-group {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 0;
        background-color: transparent;
        gap: 5px;
        cursor: pointer;
        &:hover {
          background-color: #dfe2e7;
        }
        img {
          height: 20px;
          width: 20px;
        }
        p {
          text-align: left;
          color: #333;
          font-size: 13px;
        }
      }
    }
  }
}
