.view-files {
  display: block;
  width: 100%;

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      text-align: left;
      font-size: 0.8rem;
      font-weight: 600;
      color: black;
      margin-left: 5%;
    }
  }
  .view-files-body {
    display: flex;
    flex-direction: column;
    .info-list {
      height: auto !important;
    }
    .button {
      background-color: transparent;
      border: none;
      color: black;
      font-size: 0.8rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
