.tym-icon-123 {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Các trình duyệt hiện đại */
  font-size: 10px;
}
.tym-main-container-xyz {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.tyms-frame {
  position: absolute;
  height: 120px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tyms-heart {
  font-size: 12px;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tyms-heart-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}
.tyms-heart-inner div:last-child {
  font-size: 4px;
}
.tyms-heart-inner div:first-child {
  font-size: 8px;
}

.active .tyms-heart {
  display: flex;
  animation: scaleHeart 1s ease-out forwards;
}

.tyms-heart-inner:last-child {
  gap: 12px;
}

@keyframes scaleHeart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.8);
    opacity: 0.5;
    display: none;
  }
}
