.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 10%;
  height: 100%;
  background-image: url('../../public/images/bglogin.png');

  .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-style: italic;
    text-align: center;
    color: #0a6bac;
  }
  .reset-form {
    width: 90%;
    padding: 5%;
    height: 70vh;
    .form-item {
      width: 500px;
      margin-top: 10%;
      label {
        width: 100%;
        text-align: left;
        font-size: small;
        font-weight: 400;
        color: #0a6bac;
      }
    }
  }
}
