// @import "../../../node_modules/antd/lib/style/themes/default.less";
.sidebar-nav {
  display: flex;
  flex-direction: column;
  .sidebar-nav-search {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 7px 10px;
    .ant-input-group-wrapper {
      max-width: 100%;
      width: 100%;
      display: flex;
      background-color: #eaedf0;
      input {
        background-color: #eaedf0;
      }
      span,
      button,
      svg,
      * {
        background-color: #eaedf0;
      }
    }
    .btn-group {
      max-width: 26%;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
  .sidebar-nav-classify {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    ul {
      width: 100%;
      color: #333;
      font-weight: 600;
      li {
        padding: 0px 10px;
      }
    }
    .classify {
      min-width: 100px;
    }
  }
}

@media screen and (max-width: 370px) {
  .btn-group {
    display: none !important;
  }
}
