.login-qr {
    svg {
        margin: auto;
        display: block;
        padding: 6px 0px;
        max-width: calc(200px + 5vw);
    }
    .more-qr {
        margin-top: 5px;
        text-align: center;
        font-size: calc(10px + 0.4vw);
    }
}
