.track-ultils {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 57%;
  height: 45px;
  z-index: 1;
  background-color: rgba(108, 122, 137, 0.4);
  .track-content {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    i {
      font-size: 16px;
      cursor: pointer;
      color: #ffffff;
    }
    .name {
      font-size: 12px;
      color: #ffffff;
      font-weight: 660;
    }
  }
}
