.invited-container {
  width: 100%;
  height: 100%;
  .invited-body {
    .not-found {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      font-size: 20px;
      font-weight: 500;
      color: #9e9e9e;
      min-height: 200px;
      width: 100%;
    }
    .list-invited-friends {
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      padding: 10px 0;
    }
  }
  header {
    justify-content: space-between;
  }
}

.friend-ultils-container {
  header {
    max-height: 65px;
    height: 65px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
    background-color: #ffffff;
    .header-left {
      .icon {
        font-size: 22px;
      }
      .label {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 590;
      }
    }
    .header-right {
      width: 150px;
    }
  }
}
