.friends-list {
    margin-top: 10px;
    .friend-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 15px 0;
        .name {
            font-weight: 600;
        }
    }
}
