.friends-container {
  width: 100%;
  height: 100%;
  .friends-body {
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
    height: calc(100% - 65px);

    .friends-main {
      width: 95%;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      .interactaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 80px;
      }
    }
  }

  .no-friends {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
